image: node:22-alpine

variables:
  CORS_ORIGIN: https://split-banana-88c30c01daf5.herokuapp.com/
  NODE_ENV: production
  SERVICE_DIR: "solution/$CI_COMMIT_REF_NAME"
  OPENAPI_FILE: "${CI_COMMIT_REF_NAME}_openapi.json"
  PUPPETEER_SKIP_DOWNLOAD: "true"
  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"

stages:
  - build
  - test
  - deploy

build_docs:
  stage: build
  script:
    - cd $SERVICE_DIR
    - npm ci --cache .npm --prefer-offline
    - npm run docs:generate
    - mv $OPENAPI_FILE $CI_PROJECT_DIR/$OPENAPI_FILE
  artifacts:
    paths:
      - $OPENAPI_FILE
    expire_in: 1 day

api_validate:
  stage: test
  dependencies:
    - build_docs
  script:
    - npm install -g bump-cli
    - bump deploy --dry-run $OPENAPI_FILE --doc $BUMP_ID --token $BUMP_TOKEN
  environment:
    name: $CI_COMMIT_REF_NAME
  allow_failure: true

deploy_docs:
  stage: deploy
  dependencies:
    - build_docs
  script:
    - npm install -g bump-cli
    - bump deploy $OPENAPI_FILE --doc $BUMP_ID --token $BUMP_TOKEN
  environment:
    name: $CI_COMMIT_REF_NAME