body{
    background: linear-gradient(rgb(175, 143, 38), black);
    /*background-image: url('https://i.pinimg.com/originals/f4/26/14/f426142ae405d6971e518bde32078898.gif');
    background-image: url('https://media.tenor.com/bIxgXYcZodkAAAAM/monkey.gif');*/
    /* background: #333; */
}

.main-panel{
    background-blend-mode: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#message-input{
    resize: none;
}

.movie-card-scroller{
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.movie-card{
    flex-shrink: 0;
    scroll-snap-align: start;
}

.movie-card .card-title{
  font-size: 1em;
}

.line-clamp{
  display: -webkit-box;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; 
}

@media only screen and (max-width: 770px) {
    .mobile-hidden {
        display: none;
    }

    .col-mobile{
      width: 100%!important;
    }

    .movie-card{
      margin: 0 .1em;
      width: calc(100% / 3)!important;
    }

    .movie-card .card-title{
      font-size: .7em;
    }

    .movie-card .card-body p span{
      font-size: .5em;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1224px) {
  .movie-card{
    margin: 0 .5em;
    width: calc(100% / 5) !important;
  }
}

@media only screen and (min-width : 1224px) {
  .movie-card{
    margin: 0 .5em;
    width: calc(100% / 6) !important;
  }
}