body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: 
    radial-gradient(rgba(131, 108, 7, 0.15) 1.5px, transparent 1.5px),
    radial-gradient(ellipse at top, #2d2416 0%, #1a1a1a 40%, #0a0a0a 100%);
  background-size: 25px 25px, 100% 100%;
  opacity: 1;
  z-index: -1;
}

.main-panel {
  /*
  background-blend-mode: blur(15px);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  */
}

#message-input {
  resize: none;
}

.movie-card-scroller {
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.movie-card {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.movie-card, .movie-card-carousel {
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border-color .5s ease-in-out;
}

.movie-card:hover, .movie-card-carousel:hover{
  border: 2px solid rgb(var(--bs-warning-rgb))!important;
}

.movie-card .card-title {
  font-size: 1em;
}

/*reference:
  https://css-tricks.com/line-clampin/#the-hide-overflow-place-ellipsis-pure-css-way
*/
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  word-break: var(--word-break, "none");
  overflow: hidden;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: var(--align, left);
  --is-single-line: 1 - Clamp(0, Calc(var(--line-clamp) - 1), var(--line-clamp));
  --delay: Calc(-1s * (var(--is-single-line, 1) - 1));
  -webkit-animation: states 1s var(--delay) paused;
  animation: states 1s var(--delay) paused;
}

@-webkit-keyframes states {
  0% {
    word-break: break-word;
  }
}

@keyframes states {
  0% {
    word-break: break-word;
  }
}

.movie-description.truncate {
  -webkit-line-clamp: var(--line-clamp, 7) !important;
}

.movie-details-description.truncate{
  -webkit-line-clamp: var(--line-clamp, 8) !important;
}

.line-clamp {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 770px) {
  .mobile-hidden {
    display: none;
  }

  .col-mobile {
    width: 100% !important;
  }

  .movie-card {
    margin: 0 .3em;
    width: calc((100% / 3) - .6em) !important;
  }

  .movie-card .card-title {
    font-size: .9em;
  }

  .movie-card .card-body p span {
    font-size: .7em;
  }

  .line-clamp {
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1224px) {
  .movie-card {
    margin: 0 .3em;
    width: calc((100% / 5) - .6em) !important;
  }
}

@media only screen and (min-width : 1224px) {
  .movie-card {
    margin: 0 .5em;
    width: calc((100% / 6) - 1em) !important;
  }
}