body{
    background: linear-gradient(rgb(175, 143, 38), black);
    background-attachment: fixed;
    /*background-image: url('https://i.pinimg.com/originals/f4/26/14/f426142ae405d6971e518bde32078898.gif');
    background-image: url('https://media.tenor.com/bIxgXYcZodkAAAAM/monkey.gif');*/
    /* background: #333; */
}

.main-panel{
    background-blend-mode: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#message-input{
    resize: none;
}

.movie-card-scroller{
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.movie-card{
    flex-shrink: 0;
    scroll-snap-align: start;
}

.movie-card .card-title{
  font-size: 1em;
}

/*reference:
  https://css-tricks.com/line-clampin/#the-hide-overflow-place-ellipsis-pure-css-way
*/
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  word-break: var(--word-break, "none");
  overflow: hidden;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: var(--align, left);
  --is-single-line: 1 - Clamp(0, Calc(var(--line-clamp) - 1), var(--line-clamp));
  --delay: Calc(-1s * (var(--is-single-line, 1) - 1));
  -webkit-animation: states 1s var(--delay) paused;
          animation: states 1s var(--delay) paused;
}

@-webkit-keyframes states {
  0% {
    word-break: break-word;
  }
}

@keyframes states {
  0% {
    word-break: break-word;
  }
}

.movie-description.truncate{
  -webkit-line-clamp: var(--line-clamp, 7)!important;
}

.line-clamp{
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 
}

@media only screen and (max-width: 770px) {
    .mobile-hidden {
        display: none;
    }

    .col-mobile{
      width: 100%!important;
    }

    .movie-card{
      margin: 0 .1em;
      width: calc(100% / 3)!important;
    }

    .movie-card .card-title{
      font-size: .9em;
    }

    .movie-card .card-body p span{
      font-size: .7em;
    }

    .line-clamp{
      line-clamp: 3;
      -webkit-line-clamp: 3;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1224px) {
  .movie-card{
    margin: 0 .5em;
    width: calc(100% / 5) !important;
  }
}

@media only screen and (min-width : 1224px) {
  .movie-card{
    margin: 0 .5em;
    width: calc(100% / 6) !important;
  }
}